<passenger-count
    [items]="passengers"
></passenger-count>
<h3>Airline Passengers</h3>
        <!--*ngFor is angular's sugar syntax to circumvent having to use the <template></template> tags with [ngFor]-->
      <passenger-details *ngFor="let passenger of passengers"
        [details]="passenger"
        (editPassenger)="handleEdit($event)"
        (removePassenger)="handleRemove($event)">
      </passenger-details>

    <!-- <h3>Airline Passengers - ngStyle</h3>
    <ul>
      <li *ngFor="let passenger of passengers; let i=index;">
        <span class="status" 
            [ngStyle] = "{backgroundColor: passenger.checkedIn ? '#2ecc71':'#c0392b'}"
        ></span>
        {{i}} : {{passenger.name}}
      </li>
    </ul> -->
